.navbar a{
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 10px;
    text-decoration: none;
}
.navbar_active{
    position: fixed;
    background-color: aliceblue;
    top: 0;
    /* height: 100px; */
    width: 100%;
}